@{
    ViewData["Title"] = "";
}
<h2>@ViewData[""]</h2>
<h3>@ViewData[""]</h3>
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

</head>
<body >
    <div style="background-color:#4c947c" class="container">

        <div class="row" style="color:black; background-color:#808080;max-height:150px;margin-left:1px;margin-right:1px;margin-top:5px;">

            <div class="form-group">

                <div class="col-sm-2">

                    <img style="height:100px; width:100px;" src="~/images/Creative.png" />

                </div>
                <span style="margin-left:500px;font-size:medium"><h5> CREATIVE ACADEMIC CARE</h5></span>
            </div>

        </div>

        <nav style="margin-top:1.5px;" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Student/Login">Student</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Teacher/Login">Teacher</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Contact">Contact</a>
                    </li>
                </ul>

            </div>
        </nav>
        <div class="card"style="margin-bottom:20px">
            <h5 class="card-header">About US</h5>
            <div class="card-body"style="text-align:justify">
                <h5 class="card-title">Special Things</h5>
                <p class="card-text">
                    We have years of experience in executing maintenance projects. Our team of experienced consultants has been successfully managing maintenance projects of local clients as well as offshore ones.The quality of product deployment, training and support has everything to do with customer success and satisfaction. We offer annual maintenance plans which are tailor-made as per the client’s requirement. If required we depute technical team which works at the client site for the system execution or support as per requirement.

                    Our clientele includes Government organizations as well. We ensure maximum return on investment to the customer as we provide complete offsite telephone support in the form of consultations, assistance and advice on the use and maintenance of the Software.

                    Our experts’ providing technical assistance and advice for problem diagnosis and resolution, have gained us admirer world over. We also offer on-site service calls to Customer’s facility. In such cases, our consulting charges are subject to service hour charge, plus reasonable travel and out-of-pocket expenses.
                    To get the best IT solutions, you don't need to be geographically near us. That's because we offer quality offshore development center. Our offshore software solutions in application development and web site development guarantee cost savings without the need to compromise on either speed or quality.

                    Our 100% customer retention rates speaks for our quality, swift response and cost effectiveness that has fetched us a large number of clients from all parts of the world. These all feathers to our work make us a preferred offshore development house.
                </p>
               
            </div>
        </div>


        <footer style="background-color:black;margin-bottom:5px;margin-top:2px" class="page-footer font-small teal pt-4">

            <!-- Footer Text -->
            <div class="container-fluid text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-3 mt-md-0 mt-2">

                        <!-- Content -->
                        <h5 class="text-uppercase font-weight-bold">Contact With Us</h5>
                        <p>
                            <h5>Phone Numbers</h5>
                            <li>01791205437</li>
                            <li>01791205437</li>

                        </p>
                        <p>
                            <h5>E-Mail</h5>
                            <li>ayon@gmail.com</li>
                            <li>sopon@gmail.com </i>

                        </p>

                    </div>
                    <!-- Copyright -->
                    <div style="text-align:center" class="col-md-6 mt-md-0 mt-4">
                        </2> ©Copy:@DateTime.Now.Year<span style="color:#ff0000">CAC_Management</span> </h2>


                    </div>

                    <!-- Grid column -->
                    <!-- Grid column -->
                    <!-- Footer Text -->
                    <!-- Copyright -->
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </footer>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript">
            var scrolltotop = { setting: { startline: 100, scrollto: 0, scrollduration: 1e3, fadeduration: [500, 100] }, controlHTML: '<img src="https://i1155.photobucket.com/albums/p559/scrolltotop/arrow7.png" />', controlattrs: { offsetx: 5, offsety: 5 }, anchorkeyword: "#top", state: { isvisible: !1, shouldvisible: !1 }, scrollup: function () { this.cssfixedsupport || this.$control.css({ opacity: 0 }); var t = isNaN(this.setting.scrollto) ? this.setting.scrollto : parseInt(this.setting.scrollto); t = "string" == typeof t && 1 == jQuery("#" + t).length ? jQuery("#" + t).offset().top : 0, this.$body.animate({ scrollTop: t }, this.setting.scrollduration) }, keepfixed: function () { var t = jQuery(window), o = t.scrollLeft() + t.width() - this.$control.width() - this.controlattrs.offsetx, s = t.scrollTop() + t.height() - this.$control.height() - this.controlattrs.offsety; this.$control.css({ left: o + "px", top: s + "px" }) }, togglecontrol: function () { var t = jQuery(window).scrollTop(); this.cssfixedsupport || this.keepfixed(), this.state.shouldvisible = t >= this.setting.startline ? !0 : !1, this.state.shouldvisible && !this.state.isvisible ? (this.$control.stop().animate({ opacity: 1 }, this.setting.fadeduration[0]), this.state.isvisible = !0) : 0 == this.state.shouldvisible && this.state.isvisible && (this.$control.stop().animate({ opacity: 0 }, this.setting.fadeduration[1]), this.state.isvisible = !1) }, init: function () { jQuery(document).ready(function (t) { var o = scrolltotop, s = document.all; o.cssfixedsupport = !s || s && "CSS1Compat" == document.compatMode && window.XMLHttpRequest, o.$body = t(window.opera ? "CSS1Compat" == document.compatMode ? "html" : "body" : "html,body"), o.$control = t('<div id="topcontrol">' + o.controlHTML + "</div>").css({ position: o.cssfixedsupport ? "fixed" : "absolute", bottom: o.controlattrs.offsety, right: o.controlattrs.offsetx, opacity: 0, cursor: "pointer" }).attr({ title: "Scroll to Top" }).click(function () { return o.scrollup(), !1 }).appendTo("body"), document.all && !window.XMLHttpRequest && "" != o.$control.text() && o.$control.css({ width: o.$control.width() }), o.togglecontrol(), t('a[href="' + o.anchorkeyword + '"]').click(function () { return o.scrollup(), !1 }), t(window).bind("scroll resize", function (t) { o.togglecontrol() }) }) } }; scrolltotop.init();</script>
        <noscript>Not seeing a <a href="https://www.scrolltotop.com/">Scroll to Top Button</a>? Go to our FAQ page for more info.</noscript>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>